body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(45, 47, 70);
    overflow-x: hidden;
    color: #fff;
    font-size: 1.3em;
}
h1{
    color: #fff;
    text-shadow: 0 0 10px black;
    text-align: center;
}
h1, h2, h3, h4 {
    text-wrap: balance;
}

div, body{
    box-sizing: border-box;
}

.main-wrapper, header, footer{
    width: 100%;

}
h1, h2, h3, h4 {
    text-wrap: balance;
}
p{
    text-wrap: pretty;
}
/*header*/

.header{
    /*min-height: 100vh;*/

    box-sizing: border-box;
    background-image: url(/imagenes/background_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     margin-bottom: 20px;

}
.header__item-content{
    width: 100vw;
}
.h2--integrantes{
    text-align: center;
}
.h2--header{
    color: #fff;
    text-align: center;
    background: linear-gradient(transparent 50%, black);
    margin-bottom: 0;
    padding: 20px 0;
}
.h3--integrante{
}
.img--box{
    display: flex;
    justify-content: space-around;
}
.img__box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.img--integrante{
    min-width: 200px;
    max-width: 40%;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 0 10px black;
}

/*mains section*/


.main-wrapper {

    display: flex;
    flex-grow: 1;
    max-width: 1480px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    /*background: linear-gradient(to bottom,  #fff, transparent);*/
}
.box--socialnetworks{
    display: flex;
    margin:  0 10px;
    max-width: 400px;
    padding: 5px;
    position: sticky;
    background-color: rgb(45, 47, 70);
    top: 20px;
    
}
aside, main{  
    flex-basis: 0;
    background-color: rgb(36, 38, 56); 
    margin: 5px;
}
/* nav section*/
.aside--nav{
    margin: 0px 10px;
    background-color: rgb(45, 47, 70);
    
}

.box--nav{
    padding: 10px 10px;
    background-color: rgb(36, 38, 56);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    position: sticky;
    top: 20px;
    
}
.box--nav:first-child{
    text-align: center;
    color: #fff;
}
.nav--link{
    width: 200px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: rgb(45, 47, 70);
    padding: 10px 0;
   
}
.nav--link:hover{
    background-color: rgb(45, 47, 70);
    color: #fff;
}
.link--1:hover{
    border-radius: 6px 6px 0 0;
}
.link--6:hover{
    border-radius: 0 0 6px 6px;
}

.list--nav, li{
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

.item--nav{
    box-sizing: border-box;
    background-color: #fff;
    width: 200px;
}

.item--nav:first-child{
    border-radius: 10px 10px 0 0;
}
.item--nav:last-child{
    border-radius: 0 0 10px 10px;
}
 .button-nav{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    
 } 
.button-item{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(36, 38, 56);
}
.button-links{
    color: #fff;
    text-decoration: none;
} 
.button-links:hover{
    color: #ddd;
} 
    

/*main section*/
main{
    padding: 10px;
    box-sizing: border-box;
    min-width: 300px;
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin-right: 5px;
    
}
.box--item{
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 5px;
    border: 3px solid rgb(45, 47, 70);
    background-color: rgb(36, 38, 56);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}
.box--img{
    width: 100%;
    display: flex;
    align-items: center;
}
.img--1{
    max-width: 920px;
    border-radius: 8px;

}
.img--2{
    max-width: 920px;
    border-radius: 8px;
}
/*aside nav section*/
.box--nav2{
    position: sticky;
    top: 20px;
    background-color: rgb(45, 47, 70);
    border: 1px solid rgb(36, 38, 56);
    border-radius: 5px;
    padding: 10px;
    width: 170px;
}
.item--nav2{
    background-color: rgb(45, 47, 70);
}
.aside--link{
    width: 160px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px  0;
}
.aside--link:hover{
        text-decoration: underline;
}
.link__important{
    font-weight: bold;
}
.details--box{
    position: sticky;
    top: 20px;
}
.li--objetivos{
    list-style: circle;
    margin-bottom: 5px;
}
.links__document{
    color: green;
}
/*footer*/

footer{
   margin-top: auto;
    background: rgb(36, 38, 56);
    color: #fff;
    border: 1px solid rgb(15, 15, 15);
    padding: 30px; 
    margin-top: 15px;
}
.footer--content{
    margin-left: 10px;
}
/*media query*/

@media screen and (max-width: 1200px) {
    .box--socialnetworks{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .box--socialnetworks, .aside--nav{
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .main-wrapper, .box--socialnetworks{
        flex-direction: column;
    }

}
@media screen and (min-width: 800px) {
       .item_3, .item_4, .item_5, .item_5, .item_6, .item_7, .item_8, .item_9{
        display: none;
    }

}

